<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/css/reset.css">
    <link rel="stylesheet" href="/src/css/base.css">
    <link rel="stylesheet" href="/src/css/style.css">
    <title>Kenzie Habit</title>
  </head>
  <body>

      <div class="divHabito">
          <div class="divHabito__container">
              <div class="divHabito__modal">
  
                  <h2 class="divHabito__h2">Criar hábito</h2>
  
                      <p class="divHabito__p" href="#">X</p>
  
                  <form class="divHabito__form">
                      <div>
                        <label for="titulo">Título</label></break>
                        <input type="text" name="titulo" id="titulo" placeholder="Digitar título">
                      </div>
  
                      <div class="divHabito__descricao">
                        <label for="descricao">Descrição</label></break>
                        <textarea name="textearea" style="resize: none" id="descricao" rows="3" cols="5" placeholder="Digitar descrição"></textarea>
                      </div>
                      
                      <div class="divHabito__categoria">
                        <label for="categoria">Categoria</label></break>
                        <select name="categoria" placeholder="Selecionar categoria">
                            <option value="casa">&#127968; Casa</option>
                            <option value="estudos">&#128218; Estudos</option>
                            <option value="lazer">&#9917; Lazer</option>
                            <option value="saude">&#128153; Saúde</option>
                            <option value="trabalho">&#9874; Trabalho</option>
                        </select>
                      </div>
  
                      <button type="button">Inserir</button>
  
                  </form>
              </div>
          </div>
      </div>

    <script type="module" src="./src/script.js"></script>
  </body>
</html>
