<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <div class="modal__background">
        <div class="modal__edicao__perfil">
            <div class="modal__informacoes">

                <div class="modal__titulo">
                    <h4>Editar hábito</h4>
                    <button class="botao__fechar" type="button">
                        <img class="botao__fechar botoes" src="./src/assets/Group 118.svg" alt="botão fechar">
                    </button>
                </div>

                <div class="formulario__modal">

                    <form class="formulario__edicao__perfil">
                        <label for="titulo">Titulo</label>
                        <input name="titulo" type="text">

                        <label for="descricao">Descrição</label>
                        <input name="descricao" type="text">

                        <label for="categoria">Categoria</label>
                        <select name="categoria" id="categoria">
                            <option value="saude">Saúde</option>
                            <option value="estudos">Estudos</option>
                            <option value="casa">Casa</option>
                            <option value="trabalho">Trabalho</option>
                            <option value="lazer">Lazer</option>
                        </select>

                        <div class="status__checkbox">
                            <label class="status__form" for="status">Status</label>
                            <input class="checkbox" name="status" type="checkbox">
                        </div>

                        <div class="botoes__edicao__perfil">
                            <button class="botao__excluir botoes" type="submit">Excluir</button>
                            <button class="botao__salvar botoes" type="submit">Salvar alterações</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</body>
</html>