<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Document</title>
</head>
<body>

    <!-- <div class="modal__background">
        <div class="modal__edicao__perfil">
            <div class="modal__informacoes info__perfil">

                <div class="modal__titulo">
                    <h4>Editar perfil</h4>
                    <button class="botao__fechar" type="button">
                        <figure>
                            <img class="botao__fechar botoes" src="../assets/img/botaoFechar.svg" alt="botão fechar">
                        </figure>
                    </button>
                </div>

                <div class="formulario__modal">

                    <form class="formulario__edicao__perfil">
                        <label for="nome">Nome</label>
                        <input name="nome" type="text">

                        <label for="descricao">URL da imagem do perfil</label>
                        <input name="descricao" type="text">

                        <div class="botoes__edicao__perfil">
                            <button class="botao__salvar btn__salvar botoes" type="submit">Salvar alterações</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div> -->

    <script type="module" src="../controller/modais.js"></script>

</body>
</html>