<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./base.css">
    <link rel="stylesheet" href="./style.css">

    <title>Document</title>
</head>
<body>

    <div class="modal__background">
        <div class="modal__edicao__perfil">
            <div class="modal__informacoes info">
                <div class="modal__titulo">
                    <h4>Excluir hábito</h4>
                    <button class="botao__fechar botoes" type="button">
                        <img src="./src/assets/Group 118.svg" alt="botão fechar">
                    </button>
                </div>

                <div class="texto__modal">
                    <h4>Certeza que deseja excluir este hábito?</h4>
                    <p>Após executar essa ação não será possível desfazer</p>
                </div>

                <div class="botoes__excluir__perfil">
                    <button class="botoes botao__excluir cancelar" type="submit">Cancelar</button>
                    <button class="botoes botao__salvar  excluir" type="submit">Sim, excluir este hábito</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>