
:root{
  --cor-azul-medio: 65, 90, 243;
  --cor-azul-escuro: 65, 80, 210;
  --cor-azul-claro: 215, 228, 251;
  --cor-azul-medio-2: 160, 173, 249;
  --cor-cinza-1: 33, 37, 41;
  --cor-cinza-2: 52, 58, 64;
  --cor-cinza-3: 173, 181, 189;
  --cor-cinza-4: 233, 236, 239;
  --cor-cinza-5: 241, 243, 245;
  --cor-cinza-6: 248, 249, 250;
  --cor-verde-escuro: 86, 207, 142;
  --cor-verde-claro: 230, 248, 238,
  --cor-vermelho-1: 230, 68, 69;
  --cor-vermelho-2: 240, 56, 57;

  --font-body: 'Inter', sans-serif;
}