.botoes {
    cursor: pointer;
}

.modal__background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(var(--cor-cinza-1), 0.55);
}

.modal__edicao__perfil {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.modal__informacoes{
    width: 90%;
    max-width: 100%;
    height: 31rem;
    padding: 0.5rem 2rem 2rem 2rem;
    border-radius: 0.5rem;
    border: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: rgba(var(--cor-cinza-6), 1);
}

@media screen and (min-width: 600px) {

    .modal__informacoes {
        width: 30rem;
    }
}

.info {
    height: 22rem;
    justify-content: space-between;
}

@media screen and (min-width: 600px) {
    .info {
        height: 18rem;
    }
}

.info__perfil {
    height: 21rem;
}

.modal__info__perfil {
    height: 22rem;
}

.modal__titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__titulo > h4 {
    font-size: 20px;
    font-weight: 600;
    color: rgba(var(--cor-cinza-1), 1);
}

.botao__fechar {
    border: none;
    background-color: transparent;
}

.formulario__modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario__modal > form {
    display: flex;
    flex-direction: column;
}

form > label {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1.7rem;
    margin-bottom: 0.6rem;
    color:rgba(var(--cor-cinza-2), 1);
}

form > input {
    width: 96%;
    height: 2.5rem;
    padding-left: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    color:rgba(var(--cor-cinza-2), 1);
    background-color: rgba(var(--cor-cinza-5), 1);
}

@media screen and (min-width: 589px) {
    form > input {
        width: 29rem;
    }
}

form > select {
    width: 99%;
    height: 2.5rem;
    padding-left: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    font-weight: 500;
    background-color: rgba(var(--cor-cinza-5), 1);
    color:rgba(var(--cor-cinza-2), 1);
}

@media screen and (min-width: 600px) {
    form > select {
        width: 30rem;
    }
}

form > .status__checkbox {
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.status__form {
    font-weight: 500;
    font-size: 1rem;
    color: rgba(var(--cor-cinza-1), 1);
}

.checkbox {
    width: 1rem;
    border: 1px solid rgba(var(--cor-cinza-3), 1);
    background-color: transparent;
}

form > .botoes__edicao__perfil {
    margin-top: 1.5rem;
    width: 100%;
    gap: 5%;
    display: flex;
    justify-content: space-between;
}

.botao__excluir {
    width: 90%;
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(var(--cor-cinza-5), 1);
    color: rgba(var(--cor-cinza-2), 1);
}

.botao__salvar {
    width: 90%;
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(var(  --cor-azul-medio-2), 1);
    color: rgba(var(--cor-cinza-6), 1);
}

.excluir {
    background-color: rgba(var(--cor-vermelho-2), 1);
    font-size: 0.6rem;
}

.cancelar {
    margin-bottom: 0.2rem;
    font-size: 0.6rem;
}

.btn__salvar {
    width: 40rem;
}

.botoes__excluir__perfil {
    width: 100%;
    font-size: 0.2rem;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 600px) {
    .cancelar {
        width: 30%;
        font-size: 1rem;
    }
    .excluir {
        width: 60%;
        font-size: 1rem;
    }

}
